.image-wrapper, .video-wrapper, .video-embed {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1em;
  margin-bottom: 1em;

  img, video, iframe {
    object-fit: contain;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 66.66vh;
  }
}

.video-embed {
  position:relative;

  &[data-ratio="16:9"] {
    padding: 56.25% 0 0 0;

    iframe {
      max-height: unset;
    }
  }

  &[data-ratio="9:16"],
  &[data-ratio="2:3"] {
    height: 66.66vh;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
