.app-nav {
  position: absolute;
  top: 0;
  right: 0;

  margin: $gutter;

  a {
    color: $anchor-color;
    background-color: $bg-color;
    text-transform: capitalize;
    padding: 6px 10px;
  }

  .active {
    background-color: $anchor-color;
    border: 1px solid $bg-color;
    color: #fff;
  }
}
